@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px!important;
}
.message{
    font-family: "Noto Sans Thai", sans-serif!important;
    font-size: 16px!important;
}
.btn-register{
    font-family: "Noto Sans Thai", sans-serif!important;
    font-size: 18px!important;
    font-weight: 500!important;
}
.btn-login{
    font-size: 18px!important;
    transition: ease-in (5s);
}
.btn-login:hover{
    transition: ease-in(5s);
    font-size: 18px!important;
    font-weight: 1000;
}
.link{
     font-family: "Noto Sans Thai", sans-serif!important;
    text-decoration: none!important;
    font-size: 20px;
}
.headders-1{
    font-family: "Noto Sans Thai", sans-serif!important;
    font-size: 16px;
}
.text-header{
    font-family: "Noto Sans Thai", sans-serif!important;
    font-size: 1rem;
    font-size: 20px;
}
.text-cusstomer{
    color: rgb(4, 21, 104);
    font-family: "Noto Sans Thai", sans-serif!important;
    font-size: 20px; background-color :transparent!important; 
    font-weight:1000;
}
.modal-dialog{
    max-width: 800px!important;
}
.bg-color{
    background-color: rgba(243, 243, 243, 0.692);
}
.text-head_web{
  font-family: "Noto Sans Thai", sans-serif!important;
  
}

.btn:hover{
    font-family: "PT Sans", sans-serif;
}
.nav-link {
    font-family: "Noto Sans Thai", sans-serif!important;
    color: rgb(131, 128, 128)!important;
    
}
.nav-link:hover{
    color: rgb(57, 57, 57)!important;
    font-size: 18px;
    transition: all 0.5s;

}
.link-active{
    color: rgb(87, 87, 87)!important;
    font-size: 18px!important;
    font-weight: 1000!important;
    transform: all 0.5s;
}

.active{
    color: rgb(253, 252, 252)!important;
    font-size: 18px!important;
    transform: all 0.5s;
}


.text-label{
    font-size: 14px!important;
    font-family: "Noto Sans Thai", sans-serif!important;
}
.dropdown-content{
    display: none;
    position: absolute;
    width: 220px;
    background-color:#ededed;
    border-radius: 10px;
    z-index: 1;
}
.dropdown-content a{
    color: black;
    font-size: 16px;
    padding: 12px 16px;
    text-decoration: none;
    list-style: none;
    display: block;
    margin-left: 1rem;

    &:hover{
        color: #535353;
        font-weight: 500;
        font-size: 16px;
    
    }

}
.card-primary{
    border-radius: 10px;
    background-color: #0776f5;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.5s;
    
    &:hover{
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.5s;
        cursor: pointer;
        transform: scale(1.05);
        background-color: #0056b3;
        transition: background-color 0.3s;
    }
}
.card-success{
    border-radius: 10px;
    background-color: #28a745;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.5s;

    &:hover{
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.5s;
        cursor: pointer;
        transform: scale(1.05);
        background-color: #03741d;
        transition: background-color 0.3s;
    }
}
.card-warning{
    border-radius: 10px;
    background-color: #ffc107;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.5s;

    &:hover{
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.5s;
        cursor: pointer;
        transform: scale(1.05);
        background-color: #d39e00;
        transition: background-color 0.3s;
    }
}
.card-primary:hover.card-success{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
    cursor: pointer;
    transform: scale(1.05);
}
.fs-con{
    font-size: 25px!important;
}
.label-input ,.input-custom{
     font-family: "Noto Sans Thai", sans-serif!important;
     font-size: 16px;
}
.text-content{
    font-family: "Noto Sans Thai", sans-serif!important;
    font-size: 16px!important;
    font-weight: 500!important;
}
.text-header-1{
    font-size: 14px!important;
    font-weight: 500!important;
    font-family: "Noto Sans Thai", sans-serif!important;
}
.text-content-table{
    font-family: "Noto Sans Thai", sans-serif!important;
    font-size: 14px!important;
    
}

.dropdown:hover .dropdown-content {display: block; font-size: 16px!important;}
            


.dropdown:hover .dropbtn {background-color: transparent;}
.img-logo{
    width: 130px;
}
.navbar .navbar-logo{
    
    height: 4em;
    display: flex;
}
@media screen and (max-width: 1200px){
    .navbar .navbar-logo{
        height: 3em;
        display: flex;
    }
    .img-logo{
        width: 100px;
    }
    .card-row{
        width: 200px!important;
    }
    
}
@media screen and (max-width:767px){
    .card-row{
       width: 500px!important;
    }
    .img-logo{
        width: 100px;
    }
}

@media screen and (max-width:540px){
    .position-sm-absolute{
        position: absolute!important;
        top: 4rem;
        right: 0;
    }
    .card{
        width: 100%!important;
    }
}

/* Horizontal line for timeline */
.timeline::before {
    content: '';
    position: absolute;
    top: 17%;
    left: 0;
    width: 100%;
    height: 4px;
    background: #dee2e6;
    z-index: 1;
    transform: translateY(-50%);
}

/* Circle for timeline events */
.timeline-item .timeline-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 2;
    position: relative;
}

/* Styling the links */
.timeline-link {
    color: inherit;
    text-align: center;
    display: block;
    transition: color 0.3s ease, transform 0.3s ease;
}

.timeline-link:hover {
    color: #0d6efd;
    transform: translateY(-5px);
}

/* Space for each timeline item */
.timeline-item {
    flex: 1;
    z-index: 2;
    position: relative;
}

